<div class="header">
  <div class="player-info">
    <p>Hi, {{ playerName }}!</p>
  </div>
  <button class="exit-button" (click)="exitGame()">
    <i class="fas fa-sign-out-alt"></i>
  </button>
</div>

<div class="container">

  <div class="main-content">
    <div class="selection-buttons">
      <button (click)="makeSelection('rock')">
        <i class="fas fa-hand-rock"></i>
      </button>
      <button (click)="makeSelection('paper')">
        <i class="fas fa-hand-paper"></i>
      </button>
      <button (click)="makeSelection('scissors')">
        <i class="fas fa-hand-scissors"></i>
      </button>
    </div>
  </div>

  <div class="result">
    <p>Bot: {{ machineSelection }}</p>
    <p>{{ result }}</p>
  </div>

</div>

